.nav-slider {
	position: relative;

	&__prev,
	&__next {
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background: #f3f3f3;
		border-radius: 50%;
		border: 0;
		position: absolute;
		z-index: 10;
		top: 50%;
		padding: 0.5em;
		font-size: 20px;
		cursor: pointer;
	}

	&__prev {
		left: 0;
	}

	&__next {
		right: 0;
	}

	&__icon {
		font-size: 30px;
	}

	&__text {
		margin-top: 10px;
		max-width: 5em;
	}

	.swiper-wrapper {
		display: flex;
	}

	.swiper-slide {
		flex: 0 0 auto;
		margin-right: 35px;
		text-align: center;
		width: auto;
		text-decoration: none;
		color: #000;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			color: rgb(46, 182, 116);
		}
	}
}
