.slider-logos {
	margin: 70px 0;

	&__slider {
		position: relative;
	}

	&__body {
		margin: 0 50px;
		overflow: hidden;
	}

	&__list {
		display: flex;
		margin: 0 -20px;
		overflow: hidden;
	}

	&__item {
		flex: 0 0 auto;
		padding: 0 20px;
		width: 25%;
		text-align: center;
	}

	&__image {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		max-width: 200px;
		margin: 0 auto;

		&:before {
			content: " ";
			padding-top: 50%;
			display: block;
		}
	}

	&__button {
		transition: all 0.2s;
		display: inline-block;
		background: #30a657;
		border-radius: 3px;
		margin-top: calc(20 / 16) + em;
		padding: calc(14 / 16) + em calc(40 / 16) + em;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: calc(20 / 16);
		text-transform: uppercase;
		cursor: pointer;
		color: #fff !important;

		&:hover {
			background: darken(#30a657, 5%);
		}
	}

	&__prev,
	&__next {
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background: #f3f3f3;
		border-radius: 50%;
		border: 0;
		position: absolute;
		z-index: 10;
		top: 50%;
		padding: 0.5em;
		font-size: 20px;
		cursor: pointer;

		&.slick-disabled {
			opacity: 0.5;
			cursor: default;
		}
	}

	&__prev {
		left: 0;
	}

	&__next {
		right: 0;
	}

	.slick-dotted {
		overflow: visible;
	}

	.slick-dots {
		display: flex;
		justify-content: center;

		li {
			margin: 0 10px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #000;
			opacity: 0.1;
			overflow: hidden;

			&.slick-active {
				opacity: 0.5 !important;
			}
		}

		button {
			display: none;
		}
	}
}

@media (max-width: 991.98px) {
	.slider-logos {
		margin: 45px 0;

		&__item {
			width: 33.33%;
		}
	}
}

@media (max-width: 767.98px) {
	.slider-logos {
		&__item {
			width: 50%;
		}

		&__button {
			font-size: 12px;
		}
	}
}

@media (max-width: 599.98px) {
	.slider-logos {
		margin: 9vw 0;

		&__item {
			width: 100%;
		}

		.slick-dots {
			margin-top: 25px;

			li {
				margin: 0 5px;
			}
		}
	}
}
