---
title: Главная
layout: default.hbs
---

<div class="demo__section">
    <h1 class="demo__title">Table Props</h1>
    <div class="table-props">
        <dl class="table-props__item">
            <dt><span>Объем:</span></dt>
            <dd><span>0,5 л. и 1,25 л.</span></dd>
        </dl>
        <dl class="table-props__item">
            <dt><span>Формат бутылки:</span></dt>
            <dd><span>ПЭТ</span></dd>
        </dl>
        <dl class="table-props__item">
            <dt><span>Вкус:</span></dt>
            <dd><span>Biter grapefruit</span></dd>
        </dl>
    </div>
</div>

<div class="demo__section">
    <h1 class="demo__title">Nav Pages Center</h1>
    <nav class="nav-pages-center">
        <a href="#" class="nav-pages-center__prev">
            <i class="icon-meyker-chevron-thin-left"></i>
            <span>Предыдущая</span>
        </a>
        <a href="#" class="nav-pages-center__item active">1</a>
        <a href="#" class="nav-pages-center__item">2</a>
        <a href="#" class="nav-pages-center__item">3</a>
        <a href="#" class="nav-pages-center__item">4</a>
        <a href="#" class="nav-pages-center__dots">...</a>
        <a href="#" class="nav-pages-center__item">50</a>
        <a href="#" class="nav-pages-center__next">
            <i class="icon-meyker-chevron-thin-right"></i>
            <span>Следующая</span>
        </a>
    </nav>
</div>

<div class="demo__section">
    <h1 class="demo__title">Nav Pages Classic</h1>
    <nav class="nav-pages-classic">
        <a href="#" class="nav-pages-classic__prev">
            <i class="icon-meyker-chevron-thin-left"></i>
            <span>Предыдущая</span>
        </a>
        <a href="#" class="nav-pages-classic__item active">1</a>
        <a href="#" class="nav-pages-classic__item">2</a>
        <a href="#" class="nav-pages-classic__item">3</a>
        <a href="#" class="nav-pages-classic__item">4</a>
        <a href="#" class="nav-pages-classic__dots">...</a>
        <a href="#" class="nav-pages-classic__item">50</a>
        <a href="#" class="nav-pages-classic__next">
            <i class="icon-meyker-chevron-thin-right"></i>
            <span>Следующая</span>
        </a>
    </nav>
</div>

<div class="demo__section">
    <h1 class="demo__title">Nav Slider</h1>
    <nav class="nav-slider">
        <button type="button" class="nav-slider__prev">
            <i class="icon-meyker-chevron-thin-left"></i>
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide active">
                    <div class="nav-slider__icon">
                        <i class="icon-meyker-heart"></i>
                    </div>
                    <div class="nav-slider__text">Детский сок</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <i class="icon-meyker-equalizer"></i>
                    </div>
                    <div class="nav-slider__text">Детская вода</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <i class="icon-meyker-quotes-right"></i>
                    </div>
                    <div class="nav-slider__text">Фруктовые пюре</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <i class="icon-meyker-phone"></i>
                    </div>
                    <div class="nav-slider__text">Питьевые каши</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <i class="icon-meyker-heart"></i>
                    </div>
                    <div class="nav-slider__text">Готовые блюда</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <i class="icon-meyker-heart"></i>
                    </div>
                    <div class="nav-slider__text">Отзывы</div>
                </a>
            </div>
        </div>
        <button type="button" class="nav-slider__next">
            <i class="icon-meyker-chevron-thin-right"></i>
        </button>
    </nav>
</div>

<div class="demo__section">
    <h1 class="demo__title">Audio list</h1>
    <div class="audio-list">
        {{#repeat 4}}
        <div class="audio-list__item" data-src="data/audio-samples/SoundHelix-Song-1.mp3">
            <div class="audio-list__index"></div>
            <button type="button" class="audio-list__button" style="background-image: url(https://loremflickr.com/500/500/music);">
                <i class="icon-meyker-play3 audio-list__icon-play"></i>
                <i class="icon-meyker-pause2 audio-list__icon-pause"></i>
            </button>
            <div class="audio-list__text">
                <div class="audio-list__name">Оранжевая корова</div>
                <div class="audio-list__desc">Оранжевая корова</div>
            </div>
            <div class="audio-list__time">2:40</div>
        </div>
        <div class="audio-list__item" data-src="data/audio-samples/SoundHelix-Song-2.mp3">
            <div class="audio-list__index"></div>
            <button type="button" class="audio-list__button" style="background-image: url(https://loremflickr.com/500/500/music);">
                <i class="icon-meyker-play3 audio-list__icon-play"></i>
                <i class="icon-meyker-pause2 audio-list__icon-pause"></i>
            </button>
            <div class="audio-list__text">
                <div class="audio-list__name">Оранжевая корова</div>
                <div class="audio-list__desc">Оранжевая корова</div>
            </div>
            <div class="audio-list__time">2:40</div>
        </div>
        {{/repeat}}
    </div>
</div>

<div class="demo__section">
    <h1 class="demo__title">Slider Videos</h1>
    <div class="slider-videos">
        <div class="slider-videos__slider">
            <button type="button" class="slider-videos__prev">
                <i class="icon-meyker-chevron-thin-left"></i>
            </button>
            <div class="slider-videos__body">
                <div class="slider-videos__list">
                    {{#repeat 8}}
                    <div class="slider-videos__item">
                        <div class="slider-videos__image" style="background-image: url(https://loremflickr.com/500/500/nature);"></div>
                        <button type="button" class="slider-videos__play">
                            <i class="icon-meyker-play3"></i>
                        </button>
                    </div>
                    {{/repeat}}
                </div>
            </div>
            <button type="button" class="slider-videos__next">
                <i class="icon-meyker-chevron-thin-right"></i>
            </button>
        </div>
        <div class="slider-videos__dots"></div>
    </div>
</div>