/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@font-face {
  font-family: "icomoon-meyker";
  src: url("../fonts/icomoon-meyker/fonts/icomoon.eot?bmu9ra");
  src: url("../fonts/icomoon-meyker/fonts/icomoon.eot?bmu9ra#iefix") format("embedded-opentype"), url("../fonts/icomoon-meyker/fonts/icomoon.ttf?bmu9ra") format("truetype"), url("../fonts/icomoon-meyker/fonts/icomoon.woff?bmu9ra") format("woff"), url("../fonts/icomoon-meyker/fonts/icomoon.svg?bmu9ra#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-meyker] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-meyker" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meyker-play:before {
  content: "\e904";
}

.icon-meyker-chevron-thin-up:before {
  content: "\e900";
}

.icon-meyker-chevron-thin-right:before {
  content: "\e901";
}

.icon-meyker-chevron-thin-left:before {
  content: "\e902";
}

.icon-meyker-chevron-thin-down:before {
  content: "\e903";
}

.icon-meyker-phone:before {
  content: "\e942";
}

.icon-meyker-quotes-right:before {
  content: "\e978";
}

.icon-meyker-equalizer:before {
  content: "\e992";
}

.icon-meyker-heart:before {
  content: "\e9da";
}

.icon-meyker-play3:before {
  content: "\ea1c";
}

.icon-meyker-pause2:before {
  content: "\ea1d";
}

.icon-meyker-stop2:before {
  content: "\ea1e";
}

.icon-meyker-backward2:before {
  content: "\ea1f";
}

.icon-meyker-forward3:before {
  content: "\ea20";
}

.icon-meyker-volume-mute2:before {
  content: "\ea2a";
}

.icon-meyker-volume-increase:before {
  content: "\ea2b";
}

.icon-meyker-volume-decrease:before {
  content: "\ea2c";
}

.nav-slider {
  position: relative;
}
.nav-slider__prev, .nav-slider__next {
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #f3f3f3;
  border-radius: 50%;
  border: 0;
  position: absolute;
  z-index: 10;
  top: 50%;
  padding: 0.5em;
  font-size: 20px;
  cursor: pointer;
}
.nav-slider__prev {
  left: 0;
}
.nav-slider__next {
  right: 0;
}
.nav-slider__icon {
  font-size: 30px;
}
.nav-slider__text {
  margin-top: 10px;
  max-width: 5em;
}
.nav-slider .swiper-wrapper {
  display: flex;
}
.nav-slider .swiper-slide {
  flex: 0 0 auto;
  margin-right: 35px;
  text-align: center;
  width: auto;
  text-decoration: none;
  color: #000;
}
.nav-slider .swiper-slide:last-child {
  margin-right: 0;
}
.nav-slider .swiper-slide.active {
  color: #2eb674;
}

.audio-list {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 50%;
       column-width: 50%;
  -moz-column-gap: 30px;
       column-gap: 30px;
  counter-reset: item;
}
.audio-list__index {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
  background: #f3f3f3;
  color: #000;
}
.audio-list__index:before {
  content: counter(item);
}
.audio-list__item {
  counter-increment: item;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.audio-list__item.active .audio-list__icon-play {
  display: none;
}
.audio-list__item.active .audio-list__icon-pause {
  display: block;
}
.audio-list__button {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(8vw, 7em);
  height: min(8vw, 7em);
  background: #f3f3f3;
  background-size: cover;
  border-radius: 10px;
  border: 0;
  margin-left: min(2vw, 30px);
  overflow: hidden;
  color: #fff;
}
.audio-list__button:before {
  content: " ";
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  cursor: pointer;
}
.audio-list__icon-play, .audio-list__icon-pause {
  position: relative;
  font-size: 2.5em;
}
.audio-list__icon-pause {
  display: none;
}
.audio-list__text {
  margin-left: min(2vw, 30px);
  margin-right: auto;
}
.audio-list__time {
  margin-left: min(2vw, 30px);
}
.audio-list__name {
  text-transform: uppercase;
}
.audio-list__desc {
  margin-top: 10px;
}

@media (max-width: 767.98px) {
  .audio-list {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.slider-videos__slider {
  position: relative;
}
.slider-videos__body {
  margin: 0 50px;
  overflow: hidden;
}
.slider-videos__list {
  display: flex;
  margin: 0 -20px;
  overflow: hidden;
}
.slider-videos__item {
  position: relative;
  flex: 0 0 auto;
  padding: 0 20px;
  width: 50%;
}
.slider-videos__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.slider-videos__image:before {
  content: " ";
  padding-top: 50%;
  display: block;
}
.slider-videos__prev, .slider-videos__next {
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #f3f3f3;
  border-radius: 50%;
  border: 0;
  position: absolute;
  z-index: 10;
  top: 50%;
  padding: 0.5em;
  font-size: 20px;
  cursor: pointer;
}
.slider-videos__prev.slick-disabled, .slider-videos__next.slick-disabled {
  opacity: 0.5;
  cursor: default;
}
.slider-videos__prev {
  left: 0;
}
.slider-videos__next {
  right: 0;
}
.slider-videos__dots {
  margin-top: 20px;
}
.slider-videos__play {
  transition: all 0.2s;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  line-height: 0;
  cursor: pointer;
  color: #fff;
}
.slider-videos__play:hover {
  font-size: 1.2em;
}
.slider-videos__play i {
  display: block;
  transform: translateX(0.1em);
}
.slider-videos .slick-slide {
  line-height: 0;
}
.slider-videos .slick-dotted {
  overflow: visible;
}
.slider-videos .slick-dots {
  display: flex;
  justify-content: center;
}
.slider-videos .slick-dots li {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  opacity: 0.1;
  overflow: hidden;
}
.slider-videos .slick-dots li.slick-active {
  opacity: 0.5 !important;
}
.slider-videos .slick-dots button {
  display: none;
}

@media (max-width: 767.98px) {
  .slider-videos__item {
    width: 100%;
  }
}
.demo__title {
  margin-bottom: 0.5em;
  font-size: 30px;
  font-weight: 700;
}
.demo__section {
  padding: 20px;
}

.nav-pages-classic {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav-pages-classic__prev, .nav-pages-classic__next {
  transition: all 0.2s;
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.2em;
}
.nav-pages-classic__prev:hover, .nav-pages-classic__next:hover {
  background: #f3f3f3;
}
.nav-pages-classic__prev span {
  margin-left: 0.2em;
}
.nav-pages-classic__next {
  flex-direction: row-reverse;
}
.nav-pages-classic__next span {
  margin-right: 0.2em;
}
.nav-pages-classic__item {
  transition: all 0.2s;
  padding: 0.5em;
  margin: 0 0.2em;
  border-radius: 0.2em;
}
.nav-pages-classic__item.active, .nav-pages-classic__item:hover {
  background: #f3f3f3;
}
.nav-pages-classic__dots {
  padding: 0.5em;
}

@media (max-width: 499.98px) {
  .nav-pages-classic {
    justify-content: center;
  }
  .nav-pages-classic__prev span, .nav-pages-classic__next span {
    display: none;
  }
}