@import "./helpers/mixins.scss";
@import "./helpers/helpers.scss";

* {
    box-sizing: border-box;
}

body {
    text-size-adjust: none;
    min-width: 320px;
}

img {
    max-width: 100%;
}

img[data-src] {
    visibility: hidden;
}

