@font-face {
  font-family: "icomoon-meyker";
  src:  url('../fonts/icomoon-meyker/fonts/icomoon.eot?bmu9ra');
  src:  url('../fonts/icomoon-meyker/fonts/icomoon.eot?bmu9ra#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-meyker/fonts/icomoon.ttf?bmu9ra') format('truetype'),
    url('../fonts/icomoon-meyker/fonts/icomoon.woff?bmu9ra') format('woff'),
    url('../fonts/icomoon-meyker/fonts/icomoon.svg?bmu9ra#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-meyker"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-meyker" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meyker-play:before {
  content: "\e904";
}
.icon-meyker-chevron-thin-up:before {
  content: "\e900";
}
.icon-meyker-chevron-thin-right:before {
  content: "\e901";
}
.icon-meyker-chevron-thin-left:before {
  content: "\e902";
}
.icon-meyker-chevron-thin-down:before {
  content: "\e903";
}
.icon-meyker-phone:before {
  content: "\e942";
}
.icon-meyker-quotes-right:before {
  content: "\e978";
}
.icon-meyker-equalizer:before {
  content: "\e992";
}
.icon-meyker-heart:before {
  content: "\e9da";
}
.icon-meyker-play3:before {
  content: "\ea1c";
}
.icon-meyker-pause2:before {
  content: "\ea1d";
}
.icon-meyker-stop2:before {
  content: "\ea1e";
}
.icon-meyker-backward2:before {
  content: "\ea1f";
}
.icon-meyker-forward3:before {
  content: "\ea20";
}
.icon-meyker-volume-mute2:before {
  content: "\ea2a";
}
.icon-meyker-volume-increase:before {
  content: "\ea2b";
}
.icon-meyker-volume-decrease:before {
  content: "\ea2c";
}
